.container {
  @apply w-screen h-screen bg-white;
  display: grid;
  grid-template:
    '. . ' 30px 'category content' auto
    'nav content' 30px/100px 1fr;

  div {
    // @apply bg-purple-600 border;
    &:nth-child(1) {
      @apply border-r;
    }
    &:nth-child(1),
    &:nth-child(2) {
      -webkit-app-region: drag;
    }
    &.category {
      grid-area: category;
      @apply border-r;
    }
    &.content {
      grid-area: content;
    }
    &.nav {
      @apply border-r border-t;
      grid-area: nav;
    }
  }
}
