body {
  @apply h-[100vh];
}
.drag {
  -webkit-app-region: drag;
}

.nodrag,
input,
select,
textarea,
option {
  -webkit-app-region: no-drag;
}
.withShadow {
  box-shadow: 0 10px 28px rgba(0, 0, 0, 0.4);
}
